{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-sm text-center">
	<h1 class="display-3">Bienvenido a tu lista de tareas pendientes</h1>
	<p class="lead">Aqui puedes llevar registro de todas tus tareas y 
		tener una bista general de tus resposabilidades</p>
	<hr class="my-4">
	<p>Para comenzar, por favor inicia sesión o registrate</p>
	<div class="d-flex justify-content-center">
		<div class="col">
			<a href="{{url_for('auth.login')}}" class="btn btn-primary mx-2">Inicia sesión</a>
			<a href="{{url_for('auth.register')}}" class="btn btn-primary mx-2">Registrate</a>
		</div>
	</div>
</di>
{% endblock %}